{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <title>THOUGHTFLOW | Login</title>
  </head>
  <body class="bg-gradient-to-r from-gray-500 via-gray-400 to-gray-500 min-h-screen flex items-center justify-center p-4">
    <!-- Login Form -->
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 transition-transform duration-500 hover:scale-105">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-3xl font-bold leading-9 tracking-tight text-white">
          Welcome to
          <a class="text-red-500 underline underline-offset-4 transition-colors duration-300 hover:text-red-400" href="{% url 'home' %}">
            THOUGHTFLOW
          </a>
        </h2>
      </div>

      <div class="mt-10 bg-gradient-to-br from-red-700 to-red-800 p-6 shadow-xl rounded-xl sm:mx-auto sm:w-full sm:max-w-sm transition-shadow duration-300 hover:shadow-2xl">
        <form class="space-y-6" action="#" method="POST">
          <!-- Errors -->
          {% csrf_token %} {% if error %}
          <div class="bg-red-100 p-5 w-full rounded-md" id="alert-container">
            <div class="flex space-x-3">
              <div class="flex w-fit h-fit cursor-pointer" id="close-alert-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="flex-none fill-current text-red-500 h-4 w-4"
                >
                  <path
                    d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.597 17.954l-4.591-4.55-4.555 4.596-1.405-1.405 4.547-4.592-4.593-4.552 1.405-1.405 4.588 4.543 4.545-4.589 1.416 1.403-4.546 4.587 4.592 4.548-1.403 1.416z"
                  />
                </svg>
              </div>
              <div class="leading-tight flex flex-col space-y-2">
                <div class="text-sm font-medium text-red-700">
                  Something went wrong
                </div>
                <div class="flex-1 leading-snug text-sm text-red-600">
                  Username and password do not match
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <!-- End of Errors -->

          <div>
            <label for="email" class="block text-sm font-medium leading-6 text-white">Username</label>
            <div class="mt-2">
              <input
                id="username"
                name="username"
                type="text"
                autocomplete="username"
                required
                class="block w-full rounded-md border-0 py-1.5 px-3 shadow-sm ring-1 ring-inset ring-red-300 placeholder:text-gray-400 focus:ring-2 focus:ring-red-500 focus:outline-none sm:text-sm sm:leading-6 transition-all duration-300"
              />
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <label for="password" class="block text-sm font-medium leading-6 text-white">Password</label>
            </div>
            <div class="mt-2">
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="block w-full rounded-md border-0 py-1.5 px-3 shadow-sm ring-1 ring-inset ring-red-300 placeholder:text-gray-400 focus:ring-2 focus:ring-red-500 focus:outline-none sm:text-sm sm:leading-6 transition-all duration-300"
              />
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 transition-colors duration-300"
            >
              Login
            </button>
          </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-400">
          Not a member?
          <a href="{% url 'register' %}" class="font-semibold leading-6 text-red-400 hover:text-red-300 transition-colors duration-300">
            Signup on THOUGHTFLOW
          </a>
        </p>
      </div>
    </div>
    <!-- End of Login Form -->

    <!-- JS Scripts -->
    <script type="module" src="{% static 'script.js' %}"></script>
  </body>
</html>
